@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

.header {
    background-color:gainsboro;
    padding: 15px 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

span {
    color: red;
}

/* CONTAINER */

.container {
    align-items: center;
    justify-content: center;
    display: grid;
    margin-bottom: 100px;
}

input {
    border: 2px solid #cccccc; 
    outline: 0; 
    height: 25px; 
    width: 150px;
    text-align: center;
    border-radius: 10px;
}

.container p {
    font-size: 20px;
    font-weight: 400;
}

.btn {
    padding: 2px 40px;
    text-decoration: none;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 30px;
    color: white;
    background-color: #000000;
    transition: 0.5s ease-in-out;
}

.btn:hover {
    background-color: rgb(128, 0, 0);
}

.formularios {
    margin-top: 100px;
    margin: 100px 100px;
}

/* Importante */

.important {
    display: block;
    margin: 50px 50px;
    text-align: center;
}

.important h1 {
    font-weight: 700;
}

.important-lista {
    align-items: center;
    justify-content: center;
    list-style: none;
}

.lista-item {
    border: 1px solid black;
    background-color: black;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

/* TABELA DE ORGANIZAÇÃO */

.tabela {
    justify-content: center;
    display: grid;
    margin-top: 100px;
    margin: 100px 100px;
}

.btn-div {
    padding: 2px 40px;
    text-decoration: none;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 30px;
    color: white;
    background-color: #000000;
    transition: 0.2s ease-in-out 
}

.btn-div:hover {
    background-color: rgb(128, 0, 0);
}

.tabela h5 {
    margin-top: 10px;
}

/* FOOTER */

.footer {
    background-color:gainsboro;
    padding: 25px 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer a {
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s ease-in-out;
}

.footer a:hover{
    transform: translateY(-10px);
}